<% if @products.any? %>
	<% @products.each do |product| %>
	<h2><%= link_to "#{product.name}", product_path(product) %></h2>
	<h3>£<%= product.price %></h3>
	<p><%= product.description %></p>
	<p><%= link_to "Delete", product_path(product), method: :delete %></p>
	<% end %>
	<% else %>
		<p>No products yet!</p>
<% end %>	
<%= link_to "Add a new product", new_product_path %>
